{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Reset hasła</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.password.label(class="form-label") }} {{
      form.password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.password2.label(class="form-label") }} {{
      form.password2(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Resetuj hasło</button>
  </form>

  {% for message in get_flashed_messages() %}
  <div class="alert alert-info mt-3">{{ message }}</div>
  {% endfor %} {%for error in form.password.errors %}
  <div class="alert alert-info mt-3">{{error}}</div>
  {%endfor%} {%for error in form.password2.errors %}
  <div class="alert alert-info mt-3">{{error}}</div>
  {%endfor%}
</div>
{% endblock %}
